:root{
    --clr-primary: #EA454C;
    --clr-secondary: #030303;
    --clr-triary: #595959;
    --clr-outlines: #c4c4c4;
    --clr-background: #f8f8f8;
    --clr-success: #4BB543;
    --clr-error: #f30000;

    --fz-body: 0.875rem; 
    --fz-body2: 0.75rem;
    --fz-h1: 2.125rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr-background);
    font-family: 'Poppins';
}
.container{
    width: 50%;
    padding: 6.25rem 6.875rem;
}
.title p:first-child{
    font-size: var(--fz-h1);
    color: var(--clr-secondary);
}
.title p:last-child{
    font-size: var(--fz-body);
    color: var(--clr-triary);
}
.title{
    margin-bottom: 2.875rem;
}